.btn-twitch {
    color: #fff;
    background-color: #9147ff;
}

.btn-twitch:hover,
.btn-twitch:active,
.btn-twitch:focus {
    color: #fff;
    background-color: #772ce8;
}

.twitch-icon {
    height: 20px;
    width: 19px;
    background-image: url("../images/twitch-icon.png");
    display: inline-block;
    margin: 0 2px -5px 0;
}

.twitch-avatar {
    height: 32px;
    margin: -7px 5px -7px 0;
}