@{
    ViewData["Title"] = "Home Page";
}
<div id="video-embed" class="embed-responsive embed-responsive-21by9"></div>

<script src="https://player.twitch.tv/js/embed/v1.js"></script>
<script type="text/javascript">
    new Twitch.Embed("video-embed", {
        width: "100%",
        height: "100%",
        channel: "bccplaysbcc",
    });
</script>
